#dialog-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
	height: 100vh;
    background-color : rgba(0,0,0,0.2);
    padding: 10rem;
}
#dialog {
    position: fixed;
    top: 14%;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    background-color: #fff;
    border-radius: .5rem;
    border: 1px solid black;
    max-width: 40rem;
    min-height: 25rem;
    margin: 0 auto;
    padding: 1rem;
}
dialog button:first-child {
    max-height: 2.5rem ;
    min-width: 2.5rem ;
    text-align: center;
    text-justify: center;
    padding: 0;
}
[role=document] {
}